.text1 {
    display:block;
    position: relative;
    top: -3750px ;
    left: -430px;
    font-size: 50px;
    height: 150px;
    color: aliceblue;
    font-family:'Brush Script MT','cursive';
    overflow:visible;
    width: 650px;
    text-align: center;
    margin: auto;

  }
  
  .text2  {
    display:grid;
    position: relative;
    top: -3750px ;
    left: 400px;
    font-size: 50px;
    height: 150px;
    color: aliceblue;
    font-family:'Brush Script MT','cursive';
    overflow:visible;
    width: 650px;
    text-align: center;
    margin: auto;

}